<template id="tpl-confirm-dialog">
    <div>
        <h3 class="confirm-dialog-title" data-role="title"></h3>
        <div class="confirm-dialog-body">
            <p class="confirm-dialog-message" data-role="message"></p>
        </div>
        <div class="confirm-dialog-actions">
            <button id="confirm-cancel-btn" class="btn btn-outline" data-role="cancel-text"></button>
            <button id="confirm-confirm-btn" class="btn" data-role="confirm-text"></button>
        </div>
    </div>
</template>
