<template id="tpl-rename-dialog">
    <div class="u-flex u-flex-col u-gap-4">
        <h3 class="dialog-title" data-role="title"></h3>
        <div class="dialog-body">
            <div class="u-flex u-flex-col u-gap-2">
                <label for="rename-input" class="form-label" data-role="label"></label>
                <input type="text" id="rename-input" class="input-base field-input">
            </div>
        </div>
        <div class="dialog-footer">
            <button id="rename-cancel-btn" class="btn btn-outline" data-role="cancel">Cancel</button>
            <button id="rename-confirm-btn" class="btn btn-primary" data-role="confirm"></button>
        </div>
    </div>
</template>
