[Desktop Entry]
Name=Resonance
Comment=A clean and minimal API client
Exec=resonance %U
Icon=io.github.db_mobile.resonance
Type=Application
Categories=Development;Network;
StartupNotify=true
